<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sys.dao.SupLinkMapper" >

    <resultMap id="BaseResultMap" type="cn.sys.entity.SupLink" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="real_name" property="real_name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="area_id" property="area_id" jdbcType="VARCHAR" />
        <result column="acc_nbr" property="acc_nbr" jdbcType="VARCHAR" />
        <result column="bak1" property="bak1" jdbcType="VARCHAR" />
        <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, real_name, sex, area_id, acc_nbr, bak1, bak2
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.sys.entity.SupLinkExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from sup_link
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from sup_link
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from sup_link
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="cn.sys.entity.SupLinkExample" >
        delete from sup_link
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="cn.sys.entity.SupLink" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sup_link (real_name, sex, area_id, 
            acc_nbr, bak1, bak2
            )
        values (#{real_name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{area_id,jdbcType=VARCHAR}, 
            #{acc_nbr,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="cn.sys.entity.SupLink" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sup_link
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="real_name != null" >
                real_name,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="area_id != null" >
                area_id,
            </if>
            <if test="acc_nbr != null" >
                acc_nbr,
            </if>
            <if test="bak1 != null" >
                bak1,
            </if>
            <if test="bak2 != null" >
                bak2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="real_name != null" >
                #{real_name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="area_id != null" >
                #{area_id,jdbcType=VARCHAR},
            </if>
            <if test="acc_nbr != null" >
                #{acc_nbr,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null" >
                #{bak1,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null" >
                #{bak2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="cn.sys.entity.SupLinkExample" resultType="java.lang.Integer" >
        select count(*) from sup_link
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update sup_link
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.real_name != null" >
                real_name = #{record.real_name,jdbcType=VARCHAR},
            </if>
            <if test="record.sex != null" >
                sex = #{record.sex,jdbcType=VARCHAR},
            </if>
            <if test="record.area_id != null" >
                area_id = #{record.area_id,jdbcType=VARCHAR},
            </if>
            <if test="record.acc_nbr != null" >
                acc_nbr = #{record.acc_nbr,jdbcType=VARCHAR},
            </if>
            <if test="record.bak1 != null" >
                bak1 = #{record.bak1,jdbcType=VARCHAR},
            </if>
            <if test="record.bak2 != null" >
                bak2 = #{record.bak2,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update sup_link
        set id = #{record.id,jdbcType=INTEGER},
            real_name = #{record.real_name,jdbcType=VARCHAR},
            sex = #{record.sex,jdbcType=VARCHAR},
            area_id = #{record.area_id,jdbcType=VARCHAR},
            acc_nbr = #{record.acc_nbr,jdbcType=VARCHAR},
            bak1 = #{record.bak1,jdbcType=VARCHAR},
            bak2 = #{record.bak2,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="cn.sys.entity.SupLink" >
        update sup_link
        <set >
            <if test="real_name != null" >
                real_name = #{real_name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="area_id != null" >
                area_id = #{area_id,jdbcType=VARCHAR},
            </if>
            <if test="acc_nbr != null" >
                acc_nbr = #{acc_nbr,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null" >
                bak1 = #{bak1,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null" >
                bak2 = #{bak2,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.sys.entity.SupLink" >
        update sup_link
        set real_name = #{real_name,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=VARCHAR},
            area_id = #{area_id,jdbcType=VARCHAR},
            acc_nbr = #{acc_nbr,jdbcType=VARCHAR},
            bak1 = #{bak1,jdbcType=VARCHAR},
            bak2 = #{bak2,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>